
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    </script>
</head>
<body>

<div class="container">
    <br>
    <br>
<h1 class="text-center">Login</h1>
    <div class="col-md-4 col-lg-offset-4">
        <div class="well">
<form method="post" class="form-group">
    {{ form.as_p}}
     {% csrf_token %}
    <button class="btn btn-group-justified btn-primary" type="submit">
        Login
    </button>
</form>
        </div>
     </div>
</div>

</body>
</html>